
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">    
      <title>Gym Fitness Institute</title>
	   <meta name="description" content="Gold’s Gym India offers the best fitness training to make you fit. We have 150+ gyms across India along with a training institute. Find gym near me">
      <meta name="author" content="Gold's Gym India">
      <link rel="icon" type="image/png" href="assets/images/favicon.png">
      
      <script rel="preload" src='https://www.google.com/recaptcha/api.js'></script>
      <script rel="preload" src='//hsappstatic.net'></script>
      <script rel="preload" src='//connect.facebook.net'></script>
      <script rel="preload" src='//google-analytics.com'></script>
      <script rel="preload" src='//elfsight.com'></script>
      <script rel="preload" src='//fonts.google.com'></script>
      
      <link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700%7CFira+Sans:400,500,600,700,800,900" >
      <link rel="preload" as="style" href="https://goldsgym.in/assets/frontend/css/font-awesome.css" rel="stylesheet">

      <link href="https://goldsgym.in/assets/frontend/css/bootstrap-grid.css" rel="stylesheet">
      
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.0/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.0/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      
            <link href="https://goldsgym.in/assets/frontend/css/style-pink.css" rel="stylesheet">
      <link rel="stylesheet" href="https://goldsgym.in/assets/frontend/css/bb-max.css?ver=0.1">
      <link rel="stylesheet" href="https://goldsgym.in/assets/frontend/head/style.css">
      <link rel="stylesheet" href="https://goldsgym.in/assets/frontend/css/latest_style.css">

      
      <script type="text/javascript">

</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-73172823-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-73172823-1');
</script>

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '965907230912499');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=965907230912499&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "SportsTeam",
  "name": "Gold's Gym",
  "url": "https://goldsgym.in/",

  "sameAs": [
    "https://www.facebook.com/GoldsGymIndia",
    "https://twitter.com/GoldsGymIndia",
    "https://www.youtube.com/channel/UCCPNLx0irb9sbFdsdTCV6rg",
    "https://www.instagram.com/goldsgymindia/",
    "https://www.linkedin.com/company/gold-s-gym-india/"
  ]
}
</script>




<!-- Event snippet for Sign-up-GGFI conversion page -->
<script>
  gtag('event', 'conversion', {'send_to': 'AW-1008171263/uSAHCIONv_YCEP_x3eAD'});
</script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5TG777X');</script>
<!-- End Google Tag Manager -->

   </head>
   <style>
      .main-header-area .classynav ul li a { font-family: Lato,sans-serif; font-size: 15px !important; line-height: 1.59; color: #ffff;}
      .price-section .text-capitalize{text-transform: inherit !important;}
      #map > div:nth-child(2){display:none;}
      #map > div:nth-child(3){display:none;}
      .label {margin: 2px 0;} .field {margin: 0 0 20px 0;}
      .content {width: 960px;margin: 0 auto;}
      div#central {margin: 40px 0px 100px 0px;}
      @media all and (min-width: 768px) and (max-width: 979px) {.content {width: 750px;}}
      @media all and (max-width: 767px) {body {margin: 0 auto;word-wrap:break-word}
      .content {width:auto;}
      div#central { margin: 40px 20px 100px 20px;} } input, textarea {width:100%;padding: 15px;font-size:1em;border: 1px solid #A1A1A1; }
      #message { padding: 0px 40px 0px 0px; }
      #mail-status {padding: 12px 20px;width: 100%;display:none;font-size: 1em;font-family: "Georgia", Times, serif;color:rgb(40, 40, 40); }
      .success{background-color: #48e0a4; } .g-recaptcha {margin: 0 0 25px 0;}.error{color: #F44336; text-transform:capitalize;} 
	</style>
   <body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5TG777X"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
      <style>	
	
      </style>
      <!-- Preloader -->    
      <div id="preloader">
         <div class="south-load"></div>
      </div>
      <!-- ##### Header Area Start ##### -->    
      <header class="header-area">
         <section class="tophead" >
            <div class="container">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="col-sm-2 topper">
                        <p><i class="fa fa-phone" aria-hidden="true"></i>&nbsp; &nbsp; +91 7013172820 </p>
                     </div>
                     <div class="col-sm-8 topper">
                        <p>Gym Fitness Institute: Mumbai 9029002873   Pune 9029002870  Delhi 9560044981   Bengaluru 9987536492   Jabalpur 7718803040 Kolkata 9560044981</p>
                     </div>
                     <div class="col-sm-2 topper">
                        <p><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;Wecare@goldsgym.in</p>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <div class="main-header-area" id="stickyHeader">
            <div class="classy-nav-container breakpoint-off">
               <!-- Classy Menu -->         
               <nav class="classy-navbar justify-content-between" id="southNav">
                 <!-- Navbar Toggler -->                    
                  <div class="classy-navbar-toggler">                        <span class="navbarToggler"><span></span><span></span><span></span></span>                    </div>
                  <!-- Menu -->                    
                  <div class="classy-menu">
                     <!-- close btn -->                        
                     <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                     </div>


<!-- Nav Start -->                        
<div class="classynav">
    <ul>

       </li>

<li><a href="ga/">Gallery</a></li>

          </ul>
       </li>
       <li><a href="ra/">Rates</a></li>
      <li><a href="ou/">Our Facility</a></li>
       <li><a href="co/">Contact</a></li>

    </ul>
 </div>
                     <!-- Nav End -->                    
                  </div>
               </nav>
            </div>
         </div>
      </header>
      <!-- ##### Header Area End ##### --><section class="example">

<div class="icons-best">
    <div class="container ch">
        <h3>We can give you <br><span>Much More Than Others
            </span></h3>
        <div class="icons row">
            <!--<div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 col-ms-4 icon-1" style="    text-transform: capitalize;width: 162px;background-image: url(https://goldsgym.in/uploads/home_icons/gyms.jpg)">-->
            <!--<span class="cmsmasters_counter_counter">150 Gyms</span>-->

            <!--</div>-->
            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 col-ms-4 icon-1 wow fadeInUp" data-wow-delay="0ms" style="  visibility: visible; animation-delay: 400ms; animation-name: fadeInUp;   text-transform: capitalize;width: 162px;background-image: url(https://goldsgym.in/uploads/home_icons/gyms.jpg)">
                <span class="cmsmasters_counter_counter">156 Gyms</span>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 col-ms-4 icon-2 wow fadeInUp" style="   visibility: visible; animation-delay: 100ms; animation-name: fadeInUp;background-image: url(https://goldsgym.in/uploads/home_icons/cities.jpg)"><span class="cmsmasters_counter_counter">95 Cities</span></div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 col-ms-4 icon-3 wow fadeInUp" style="  visibility: visible; animation-delay: 200ms; animation-name: fadeInUp;background-image: url(https://goldsgym.in/uploads/home_icons/states.jpg)"><span class="cmsmasters_counter_counter">26 States</span></div>
            <!--<div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 col-ms-4 icon-3" style="background-image: url(https://goldsgym.in/uploads/home_icons/states.jpg)"><span class="cmsmasters_counter_counter">25 States</span></div>-->
            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 col-ms-4 icon-4 wow fadeInUp" style="  visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;background-image: url(https://goldsgym.in/uploads/home_icons/Website_Personal.jpg)"><span class="cmsmasters_counter_counter"> Personal Training Program</span></div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 col-ms-4 icon-6 wow fadeInUp" style="  visibility: visible; animation-delay: 500ms; animation-name: fadeInUp;background-image: url(https://goldsgym.in/uploads/home_icons/Group_Exercise.jpg)"><span class="cmsmasters_counter_counter">Group Program</span></div>
        </div>
    </div>
</div>
</div>
</div>

<section class="franchises">

</section>


<!-- <section class="trainings11" >
        <a href="https://goldsgym.in/franchise.html"><img class="trainings1" src="https://goldsgym.in/uploads/home_icons/franchise.jpg"/></a>
    </section> -->



<section id="fr1" class="ff32">
 

    <div class="fr2">

        <div class="container">

            <div class="col-sm-12 text-center">
                <img src="https://goldsgym.in/assets/frontend/images/line.png" />
            </div>
            <div class="col-sm-12 gfont" style="padding-bottom:20px;">
                <h3 class="wow fadeInUp" data-wow-delay="400ms" style="visibility: visible; animation-delay: 400ms; animation-name: fadeInUp;">GYMS COMING <span>Soon</span></h3>
            </div>

            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-4 coming">


                    <div class="box-11">



                        <p><strong>GYMS COMING SOON :</strong> KHARADI – PUNE | CHAKAN - PUNE| DIPHU - ASSAM | KATHMANDU - NEPAL | KALYAN - MAHARASHTRA  </p>

                    </div>

                </div>
                <div class="col-md-1">
                </div>
                <div id="right-box" class="col-md-4">
                    <div id="coming-soon-gallery-homepage">
                        <div class="item">
                                <div class="carousel-1">
                                    <img src="https://goldsgym.in/uploads/blog/compress-g2.jpg" class="img-responsive">
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-1">
                                    <img src="https://goldsgym.in/uploads/blog/compress-g2.jpg" class="img-responsive">
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-1">
                                    <img src="https://goldsgym.in/uploads/blog/compress-g2.jpg" class="img-responsive">
                                </div>
                            </div>
                    </div>

                </div>
                <div class="col-md-1">
                </div>
            </div>

        </div>

    </div>

</section>
<section class="gold">
    <div class="container" style="padding-bottom:40px;">
        <br />
        <br />
        <div class="col-sm-12 text-center">
            <img src="https://goldsgym.in/assets/frontend/images/line.png" />
        </div>
        <div class="col-sm-12 gfont">
            <h3 class="wow fadeInUp" data-wow-delay="400ms" style="visibility: visible; animation-delay: 400ms; animation-name: fadeInUp;">Gym <span>Fitness Institute</span></h3>
            <p class="text-center wow fadeInUp" data-wow-delay="400ms" style="visibility: visible; animation-delay: 400ms; animation-name: fadeInUp;">Physical Activity Or Can Improve Your Health</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-ms-6">
                <img src="https://goldsgym.in/uploads/ggfi/img1_1.jpg" class="img-responsive">
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-ms-6">
                <img src="https://goldsgym.in/uploads/ggfi/img2.jpg" class="img-responsive">
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-ms-6">
                <img src="https://goldsgym.in/uploads/ggfi/img3.jpg" class="img-responsive">
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-ms-6">
                <img src="https://goldsgym.in/uploads/ggfi/img1_1.jpg" class="img-responsive">
            </div>
        </div>
        <br />
        <div class="col-sm-12 text-center">
        </div>

    </div>
</section>
<section class="plans parallax l-event" style="background-image: url(https://goldsgym.in/assets/frontend/images/_block-black-parallax.jpg);">
    <div class="container" style="padding-top:10px;">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <h3 class="cn">LATEST <span>EVENT</span></h3>
                <div class="row">
                    <div class="letest-event-homepage">
                        
                                                    <div class="box-event">
                                <div class="cmsmasters_slider_post_outer">
                                                                        <img src="https://goldsgym.in/uploads/events/compress-compress-Pi7_Image_compress-GoldsFlow.jpg" class="full-width wp-post-image" alt="Best Cardio Bodyweight Exercises" title="Best Cardio Bodyweight Exercises" />
                                                                        <div class="cmsmasters_slider_post_inner">
                                        <h3 class="cmsmasters_slider_post_title entry-title hf">
                                            <a href="https://goldsgym.in/event/best-cardio-bodyweight-exercises">Best Cardio Bodyweight Exercises</a>
                                        </h3>

                                                                                
                                    </div>
                                </div>
                            </div>
                                                    <div class="box-event">
                                <div class="cmsmasters_slider_post_outer">
                                                                        <img src="https://goldsgym.in/uploads/events/compress-5-1-580x400.jpg" class="full-width wp-post-image" alt="Best Bodyweight Exercises" title="Best Bodyweight Exercises" />
                                                                        <div class="cmsmasters_slider_post_inner">
                                        <h3 class="cmsmasters_slider_post_title entry-title hf">
                                            <a href="https://goldsgym.in/event/best-bodyweight-exercises">Best Bodyweight Exercises</a>
                                        </h3>

                                                                                
                                    </div>
                                </div>
                            </div>
                                                    <div class="box-event">
                                <div class="cmsmasters_slider_post_outer">
                                                                        <img src="https://goldsgym.in/uploads/events/compress-3-2-580x400.jpg" class="full-width wp-post-image" alt="The Truth About Women’s Training" title="The Truth About Women’s Training" />
                                                                        <div class="cmsmasters_slider_post_inner">
                                        <h3 class="cmsmasters_slider_post_title entry-title hf">
                                            <a href="https://goldsgym.in/event/the-truth-about-women-s-training">The Truth About Women’s Training</a>
                                        </h3>

                                                                                
                                    </div>
                                </div>
                            </div>
                                                    <div class="box-event">
                                <div class="cmsmasters_slider_post_outer">
                                                                        <img src="https://goldsgym.in/uploads/events/compress-6-1-580x400.jpg" class="full-width wp-post-image" alt="Best Bodyweight Exercises" title="Best Bodyweight Exercises" />
                                                                        <div class="cmsmasters_slider_post_inner">
                                        <h3 class="cmsmasters_slider_post_title entry-title hf">
                                            <a href="https://goldsgym.in/event/best-bodyweight-exercises">Best Bodyweight Exercises</a>
                                        </h3>

                                                                                
                                    </div>
                                </div>
                            </div>
                                                    <div class="box-event">
                                <div class="cmsmasters_slider_post_outer">
                                                                        <img src="https://goldsgym.in/uploads/events/compress-compress-Pi7_Image_compress-GGFIbuddyreferralpostJune-01.jpg" class="full-width wp-post-image" alt="Gold's Gym Birthday" title="Gold's Gym Birthday" />
                                                                        <div class="cmsmasters_slider_post_inner">
                                        <h3 class="cmsmasters_slider_post_title entry-title hf">
                                            <a href="https://goldsgym.in/event/gold-s-gym-birthday">Gold's Gym Birthday</a>
                                        </h3>
                                        <div class="cmsmasters_slider_post_content entry-content mnc">
                                            <p>Gold&#39;s Gyms 22nd birthday
                                            </p>
                                        </div>
                                                                                
                                    </div>
                                </div>
                            </div>
                                                    <div class="box-event">
                                <div class="cmsmasters_slider_post_outer">
                                                                        <img src="https://goldsgym.in/uploads/events/compress-Pi7_Image_compress-DSC_6224-min (1) (1).jpg" class="full-width wp-post-image" alt="Jaipur Convention" title="Jaipur Convention" />
                                                                        <div class="cmsmasters_slider_post_inner">
                                        <h3 class="cmsmasters_slider_post_title entry-title hf">
                                            <a href="https://goldsgym.in/event/jaipur-convention">Jaipur Convention</a>
                                        </h3>
                                        <div class="cmsmasters_slider_post_content entry-content mnc">
                                            <p>                                            </p>
                                        </div>
                                        <a class="cmsmasters_slider_post_read_more" href="https://goldsgym.in/event/"></a>
                                    
</div>

                                </div>
                            </div>
                                                    <div class="box-event">
                                <div class="cmsmasters_slider_post_outer">
                                                                        <img src="https://goldsgym.in/uploads/events/compress-compress-CompressJPEG.Online_100kb_29148.jpg" class="full-width wp-post-image" alt="Jaipur Convention" title="Jaipur Convention" />
                                                                        <div class="cmsmasters_slider_post_inner">
                                        <h3 class="cmsmasters_slider_post_title entry-title hf">
                                            <a href="https://goldsgym.in/event/jaipur-convention">Jaipur Convention</a>
                                        </h3>
                                        <div class="cmsmasters_slider_post_content entry-content mnc">
                                            <p>                                            </p>
                                        </div>
                                                                                    <a class="cmsmasters_slider_post_read_more" href="https://goldsgym.in/event/"></a>
                                                                                
                                    </div>
                                </div>
                            </div>
                                                    <div class="box-event">
                                <div class="cmsmasters_slider_post_outer">
                                                                        <img src="https://goldsgym.in/uploads/events/compress-Pi7_Image_compress-DSC_6274-min (1).jpg" class="full-width wp-post-image" alt="Jaipur Convention" title="Jaipur Convention" />
                                                                        <div class="cmsmasters_slider_post_inner">
                                        <h3 class="cmsmasters_slider_post_title entry-title hf">
                                            <a href="https://goldsgym.in/event/jaipur-convention">Jaipur Convention</a>
                                        </h3>
                                        <div class="cmsmasters_slider_post_content entry-content mnc">
                                            <p>                                            </p>
                                        </div>
                                                                                    <a class="cmsmasters_slider_post_read_more" href="https://goldsgym.in/event/"></a>
                                                                                
                                    </div>
                                </div>
                            </div>
                                                    <div class="box-event">
                                <div class="cmsmasters_slider_post_outer">
                                                                        <img src="https://goldsgym.in/uploads/events/compress-compress-CompressJPEG.Online_10.jpg" class="full-width wp-post-image" alt="Jaipur Convention" title="Jaipur Convention" />
                                                                        <div class="cmsmasters_slider_post_inner">
                                        <h3 class="cmsmasters_slider_post_title entry-title hf">
                                            <a href="https://goldsgym.in/event/jaipur-convention">Jaipur Convention</a>
                                        </h3>
                                        <div class="cmsmasters_slider_post_content entry-content mnc">
                                            <p>                                            </p>
                                        </div>
                                                                                    <a class="cmsmasters_slider_post_read_more" href="https://goldsgym.in/event/"></a>
                                                                                
                                    </div>
                                </div>
                            </div>
                                                    <div class="box-event">
                                <div class="cmsmasters_slider_post_outer">
                                                                        <img src="https://goldsgym.in/uploads/events/compress-Pi7_Image_CompressJPEG. (1).jpg" class="full-width wp-post-image" alt="Jaipur Convention" title="Jaipur Convention" />
                                                                        <div class="cmsmasters_slider_post_inner">
                                        <h3 class="cmsmasters_slider_post_title entry-title hf">
                                            <a href="https://goldsgym.in/event/jaipur-convention">Jaipur Convention</a>
                                        </h3>
                                        <div class="cmsmasters_slider_post_content entry-content mnc">
                                            <p>                                            </p>
                                        </div>
                                                                                    <a class="cmsmasters_slider_post_read_more" href="https://goldsgym.in/event/"></a>
                                                                                
                                    </div>
                                </div>
                            </div>
                                                    <div class="box-event">
                                <div class="cmsmasters_slider_post_outer">
                                                                        <img src="https://goldsgym.in/uploads/events/compress-compress-compress-b55914e0-c163-4aff-bad3-b02bb688e7a4-min_11zon.jpg" class="full-width wp-post-image" alt="Kochi Event" title="Kochi Event" />
                                                                        <div class="cmsmasters_slider_post_inner">
                                        <h3 class="cmsmasters_slider_post_title entry-title hf">
                                            <a href="https://goldsgym.in/event/kochi-event">Kochi Event</a>
                                        </h3>
                                        <div class="cmsmasters_slider_post_content entry-content mnc">
                                            <p>                                            </p>
                                        </div>
                                                                                    <a class="cmsmasters_slider_post_read_more" href="https://goldsgym.in/event/"></a>
                                                                                
                                    </div>
                                </div>
                            </div>
                                                    <div class="box-event">
                                <div class="cmsmasters_slider_post_outer">
                                                                        <img src="https://goldsgym.in/uploads/events/compress-compress-Pi7_Image_compress-GreaterKailashsocialmediaAd3-01.jpg" class="full-width wp-post-image" alt="Greater-Kailash" title="Greater-Kailash" />
                                                                        <div class="cmsmasters_slider_post_inner">
                                        <h3 class="cmsmasters_slider_post_title entry-title hf">
                                            <a href="https://goldsgym.in/event/greater-kailash">Greater-Kailash</a>
                                        </h3>
                                        <div class="cmsmasters_slider_post_content entry-content mnc">
                                            <p>NA
                                            </p>
                                        </div>
                                                                                
                                    </div>
                                </div>
                            </div>
                                                    <div class="box-event">
                                <div class="cmsmasters_slider_post_outer">
                                                                        <img src="https://goldsgym.in/uploads/events/compress-compress-Pi7_Image_compress-Greater-Kailashsocial-media-Delhi.jpg" class="full-width wp-post-image" alt="Greater-Kailash-1" title="Greater-Kailash-1" />
                                                                        <div class="cmsmasters_slider_post_inner">
                                        <h3 class="cmsmasters_slider_post_title entry-title hf">
                                            <a href="https://goldsgym.in/event/greater-kailash-1">Greater-Kailash-1</a>
                                        </h3>
                                        <div class="cmsmasters_slider_post_content entry-content mnc">
                                            <p>NA
                                            </p>
                                        </div>
                                                                                
                                    </div>
                                </div>
                            </div>
                                                    <div class="box-event">
                                <div class="cmsmasters_slider_post_outer">
                                                                        <img src="https://goldsgym.in/uploads/events/MAILER-WEB.jpg" class="full-width wp-post-image" alt="Gold's Gym 20th Anniversary" title="Gold's Gym 20th Anniversary" />
                                                                        <div class="cmsmasters_slider_post_inner">
                                        <h3 class="cmsmasters_slider_post_title entry-title hf">
                                            <a href="https://goldsgym.in/event/gold-s-gym-20th-anniversary">Gold's Gym 20th Anniversary</a>
                                        </h3>
                                        <div class="cmsmasters_slider_post_content entry-content mnc">
                                            <p>NA
                                            </p>
                                        </div>
                                                                                
                                    </div>
                                </div>
                            </div>
                                                    <div class="box-event">
                                <div class="cmsmasters_slider_post_outer">
                                                                        <img src="https://goldsgym.in/uploads/events/Golds-gymcreative (1).jpg" class="full-width wp-post-image" alt="Bengaluru FC vs ATK Mohun Bagan" title="Bengaluru FC vs ATK Mohun Bagan" />
                                                                        <div class="cmsmasters_slider_post_inner">
                                        <h3 class="cmsmasters_slider_post_title entry-title hf">
                                            <a href="https://goldsgym.in/event/bengaluru-fc-vs-atk-mohun-bagan">Bengaluru FC vs ATK Mohun Bagan</a>
                                        </h3>
                                        <div class="cmsmasters_slider_post_content entry-content mnc">
                                            <p>NA
                                            </p>
                                        </div>
                                                                                
                                    </div>
                                </div>
                            </div>
                                                    <div class="box-event">
                                <div class="cmsmasters_slider_post_outer">
                                                                        <img src="https://goldsgym.in/uploads/events/own a GG franchise -4.jpg" class="full-width wp-post-image" alt="Gold's Gym Franchise" title="Gold's Gym Franchise" />
                                                                        <div class="cmsmasters_slider_post_inner">
                                        <h3 class="cmsmasters_slider_post_title entry-title hf">
                                            <a href="https://goldsgym.in/event/gold-s-gym-franchise">Gold's Gym Franchise</a>
                                        </h3>
                                        <div class="cmsmasters_slider_post_content entry-content mnc">
                                            <p>NA
                                            </p>
                                        </div>
                                                                                
                                    </div>
                                </div>
                            </div>
                                            </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>       
</section>

<section id="carousel">
    <div class="container testimonial">
        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                <div class="headingtest">
                    <h1 class="cmsmasters_heading " style="text-align: center;"> TESTIMONIALS
                    </h1>
                    <h5>What our clients says</h5>
                </div>
                <div class="quote"><i class="fa fa-quote-left fa-4x"></i></div>
                <div class="carousel-1 slide" id="fade-quote-carousel">
                    <div class="carousel-inner testimonial-slider-homepage">
                        <div class="item active">
                            <div class="profile-circle" style="background-color: rgba(0,0,0,.2);"></div>
                            <blockquote>
                                <p>It&#39;s a very nice gym with world top class equipment of Life fitness and Hammer Strength, and people surrounding is also good, and staff of this branch is very kind, they help members very well and all the trainers are certified with good knowledge of teaching as well. Good place to achieve your goals.</p>
                                <p><small>Mayur Abnave</small></p>
                            </blockquote>
                        </div>
                        <div class="item">
                            <div class="profile-circle" style="background-color: rgba(77,5,51,.2);"></div>
                            <blockquote>
                                <p>So this place is more than just a gym. You can walk in and make friends that will guide you and help you out each time. They have great programs such as kickboxing, yoga, Zumba etc that you can opt for to change the routine once in a while. They have dedicated cardio and spinning sections with mood lighting and good instructors. The staff is humble and helpful whenever approached.</p>
                                <p><small>Utkrisht Kaushik</small></p>
                            </blockquote>
                        </div>
                        <div class="item">
                            <div class="profile-circle" style="background-color: rgba(145,169,216,.2);"></div>
                            <blockquote>
                                <p>Amazing staff.!!! Hygiene is always a priority here. There are lockers to keep our bags. The personal trainers are extremely helpful. I have been training under Pranay Bane and sir has been most motivating.</p>
                                <p><small>Natasha Mondegari</small></p>
                            </blockquote>

                        </div>
                        <div class="item">
                            <div class="profile-circle" style="background-color: rgba(145,169,216,.2);"></div>
                            <blockquote>
                                <p>Hands down, best choice I’ve made training at Gold&#39;s Gym. VERY friendly team who make me actually want to go train. I look forward to walking through the doors and always feel amazing when I leave. Their trainers are exceptional, the overall vibe is great and I have had nothing but good experiences. I definitely recommend them to my friends and family.</p>
                                <p><small>Pradip Andhale</small></p>
                            </blockquote>

                        </div>
                        <div class="item">
                            <div class="profile-circle" style="background-color: rgba(145,169,216,.2);"></div>
                            <blockquote>
                                <p>One of the best gyms to start your workout journey with. A very well managed Gym. Good staff. Good knowledge trainers. One of the special thing about the gym is positive energy, none of the gym have this kind of energy as compared to any other Gyms in this area. You will always feel energetic whenever you step in the Gym. Place doesn&#39;t matter at all it’s just the name its self-enough. I have joined in 2012 and was there for 4 year. NO COMPARISON WITH GOLD&#39;S</p>
                                <p><small>Tejas Pardeshi</small></p>
                            </blockquote>

                        </div>
                        <div class="item">
                            <div class="profile-circle" style="background-color: rgba(145,169,216,.2);"></div>
                            <blockquote>
                                <p>Amazing gym with awesome trainers, especially my trainer Mr SANDEEP!! Space is ample, equipment are quite good, staff is very friendly and the whole atmosphere is filled with positive vibes. It’s been just four days since I have joined this gym, and I can already feel the difference. One of the best gyms I have come across. And the best in Pune. Bravo!!</p>
                                <p><small>Ela Sharda</small></p>
                            </blockquote>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer id="footer-main" class="block-bottom">


    <script type="text/javascript" src="https://goldsgym.in/assets/frontend/js/jquery.min.js"></script>
    <script type="text/javascript" src="https://goldsgym.in/assets/frontend/js/modernizr-2.6.2.min.js"></script>
    
    <script type="text/javascript" src="https://goldsgym.in/assets/frontend/js/jquery.parallax-1.1.3.js"></script>
    <script type="text/javascript" src="https://goldsgym.in/assets/frontend/js/jquery.localscroll-1.2.7-min.js"></script>
    <script type="text/javascript" src="https://goldsgym.in/assets/frontend/js/jquery.scrollTo-1.4.2-min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://goldsgym.in/assets/frontend/js/slick.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">

</script>        
            <script type="text/javascript" src="https://goldsgym.in/assets/frontend/js/scripts.js"></script>
        <script src="https://goldsgym.in/assets/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://goldsgym.in/assets/custom.js"></script>
        <!-- Plugins js -->
        <script src="https://goldsgym.in/assets/frontend/head/js/plugins.js"></script>
        <script src="https://goldsgym.in/assets/frontend/head/js/classy-nav.min.js"></script>
        <!-- Active js -->
        <script src="https://goldsgym.in/assets/frontend/head/js/active.js"></script>
        <script src="https://goldsgym.in/assets/admin-v2/plugins/jquery-validation/js/jquery.validate.min.js"></script>
        <script type="text/javascript" src="https://goldsgym.in/assets/frontend/js/bb-max.js?var=0.1"></script>
</footer>
</body>
</html>